.blocks .blocks{
    position: relative;
 
    p{
        width: 1400px;
    }
}
.resept{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.aboutKfc{
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
}

.block1 .kfc-img{
    width: 460px;
    height: 300px;
}
@keyframes block1 {
    0% {transform: translateX(-500px);}
  
}
.block1{
    animation:  block1 1s;
    
    position: absolute;
    left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 490px;
    background: rgb(248, 247, 247);
}

.block-text{
   margin-left: 30px;
   margin-top: 15px;
   h4{
    padding: 15px 0px;
    color: red;
    font-weight:bold;
   }
 
}
.block-text p{
    line-height: 22px;
    font-weight:lighter;
   }
   .block2 .kfc-img{
    width: 460px;
    height: 300px;
}
@keyframes block2 {
    0% {transform: translateX(500px);}
}
.block2{
    animation:  block2 1s;

    position: absolute;
    top: 550px;
    right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 490px;
    background: rgb(248, 247, 247);

}
.block-text{
   margin-left: 30px;
   margin-top: 15px;
   h4{
    padding: 15px 0px;
    color: red;
    font-weight:bold;
   }
 
}
.block-text p{
    line-height: 22px;
    font-weight:lighter;
   }
 .block3 .kfc-img{
    width: 460px;
    height: 300px;
}
@keyframes block3 {
    0% {transform: translateX(-500px);}
}
.block3{
    animation:  block3 1s;
  
position: absolute;
left: 150px;
top: 1060px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 490px;
    background: rgb(248, 247, 247);

}
.block-text{
   margin-left: 30px;
   margin-top: 15px;
   h4{
    padding: 15px 0px;
    color: red;
    font-weight:bold;
   }
 
}
.block-text p{
    line-height: 20px;
    font-weight:lighter;
   }

   .block4 .kfc-img{
    width: 460px;
    height: 300px;
}
@keyframes block4 {
    0% {transform: translateX(500px);}
}
.block4{
    animation:  block4 1s;

position: absolute;
right:150px;
top: 1260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 490px;
    background: rgb(248, 247, 247);

}
.block-text{
   margin-left: 30px;
   margin-top: 15px;
   h4{
    padding: 15px 0px;
    color: red;
    font-weight:bold;
   }
 
}
.block-text p{
    line-height: 20px;
    font-weight:lighter;
   }.blocks .blocks{
    position: relative;
    p{
        width: 1400px;
    }
}



.block1 .kfc-img{
    width: 460px;
    height: 300px;
}
@keyframes block1 {
    0% {transform: translateX(-500px);}
}
.block1{
    animation:  block1 1s;
    
    position: absolute;
    left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 490px;
    background: rgb(248, 247, 247);
}

.block-text{
   margin-left: 30px;
   margin-top: 15px;
   h4{
    padding: 15px 0px;
    color: red;
    font-weight:bold;
   }
 
}
.block-text p{
    line-height: 22px;
    font-weight:lighter;
   }
   .block2 .kfc-img{
    width: 460px;
    height: 300px;
}
@keyframes block2 {
    0% {transform: translateX(500px);}
}
.block2{
    animation:  block2 1s;

    position: absolute;
    top: 550px;
    right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 490px;
    background: rgb(248, 247, 247);

}
.block-text{
   margin-left: 30px;
   margin-top: 15px;
   h4{
    padding: 15px 0px;
    color: red;
    font-weight:bold;
   }
 
}
.block-text p{
    line-height: 22px;
    font-weight:lighter;
   }
 .block3 .kfc-img{
    width: 460px;
    height: 300px;
}
@keyframes block3 {
    0% {transform: translateX(-500px);}
}
.block3{
    animation:  block3 1s;
  
position: absolute;
left: 150px;
top: 1060px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 490px;
    background: rgb(248, 247, 247);

}
.block-text{
   margin-left: 30px;
   margin-top: 15px;
   h4{
    padding: 15px 0px;
    color: red;
    font-weight:bold;
   }
 
}
.block-text p{
    line-height: 20px;
    font-weight:lighter;
   }

   .block4 .kfc-img{
    width: 460px;
    height: 300px;
}
@keyframes block4 {
    0% {transform: translateX(500px);}
}
.block4{
    animation:  block4 1s;

position: absolute;
right:150px;
top: 1260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 490px;
    background: rgb(248, 247, 247);

}
.block-text{
   margin-left: 30px;
   margin-top: 15px;
   h4{
    padding: 15px 0px;
    color: red;
    font-weight:bold;
   }
 
}
.block-text p{
    line-height: 20px;
    font-weight:lighter;
   }



   @media(max-width:1020px){
    .block1{
        left: 135px;
    }
    .block2{
        margin-top: 245px;
        left: 135px;
    }
    .block3{
        margin-top: 255px;
        left: 135px;
    }
    .block4{
    margin-top: 575px;
    left: 135px;
    }
   }



   
   @media(max-width:1020px){
    .about{
        margin-top: 200px;
    }
    .block1{
        left: 235px;
    }
    .block2{
        margin-top: 280px;
        left: 235px;
    }
    .block3{
        margin-top: 290px;
        left: 235px;
    }
    .block4{
        margin-top: 600px;
    left: 235px;
    }
   }