*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a{
    text-decoration: none;
}
}
body{
  background: none;
}
.container{
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
}


.wrapper {
  overflow-x:hidden;
  width:100%;
  min-height: 100dvh;
}
.load{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 250px;

}
.load img{
 width: 250px;
}
.load-2 img{
  width: 130px;
}
::-webkit-scrollbar {
  display: none;
}